@use 'mixins' as *;
@use 'variables' as *;

.selected {
    border: 2px solid $red;
    border-radius: 10px;
}


.dessert-item {
    @include flex(column, flex-start, stretch, 2rem);
    width: 250px;
    height: fit-content;

    .item-image-add-to-cart {
        @include flex(column);

        img {
            aspect-ratio: 1;
            border-radius: 10px;
            object-fit: cover;
        }
    }

    .item-info {
        .category {
            @include TextPreset4;
        }

        .name,
        .price {
            @include TextPreset3;
        }

        .price {
            color: $red;
        }
    }
}
@media screen and (max-width : 425px) {
 .dessert-item {
        width: 100%;
    }
}

@media screen and (min-width:768px)and (max-width: 1023px) {
    .dessert-item {
        width: 100%;
    }
}