@use 'mixins' as *;
@use 'variables' as *;

// cart section
.cart {
  width: 24rem;
  height: fit-content;
  flex: 1 0 380px;
  padding: 1.5rem;
  border-radius: 0.75rem;
  background-color: $white;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  h2 {
    @include TextPreset2;
    color: $red;
  }

  .content {
    width: 100%;
    height: fit-content;

    .empty-cart-content {
      @include flex(column, center, center);
      width: 100%;
      
      p {
        @include TextPreset4Bold;
        color: $rose-500;
      }
    }

    .cart-items-list{
      display: flex;
      flex-direction: column;

      .cart-item{
        display: flex;
        flex-direction: row;
        align-items: center;
                border-bottom: 1px solid $rose-100;
        margin-bottom: 1rem;
      }
      .item-info-container{
        display: flex;
        flex-direction: column;
        flex:1;
        gap: 0.5rem;
        padding-bottom: 1rem;
        .item-info-name{
          @include TextPreset4Bold;
        }
        .item-sumary{
           @include TextPreset4Bold;
            display: flex;
            align-items: center;
            gap: 0.5rem;
           .item-quantity{
            min-width: 1.313rem;
            color: $red;
           }
        }
      }
      .itemm-delete-button{
        height: 1.094rem;
        width: 1.094rem;
        border: 1.5px solid $rose-400;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
      }

    }

    .item-list-total-container{
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      .cart-total-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $rose-900;
       p{
         @include TextPreset4
       }
       h3{
         @include TextPreset2
       }
      }
      .cart-quick-message{
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        background-color: $rose-50;
        padding: 1rem;
        border-radius: 0.5rem;
        gap: 0.031rem;
        @include TextPreset4;
        .bold{
          @include TextPreset4Bold;
        }
      }
      .confirm-button{
        background-color: $red;
        color: $white;
        height: 3.313rem;
        border-radius: 62.438rem;
        @include TextPreset3;
      }
    }
  }



}