<main>
  <section class="desserts">
    <h1>Desserts</h1>

    <div class="desserts-container">
      @for (dessert of desserts; track $index) {
        <div class="dessert-item">
        <section class="item-image-add-to-cart">
           <img [src]="dessert.image.tablet" alt="dessert image">
          <app-add-to-cart />
        </section>
        <section class="item-info">
          <p class="category">{{dessert.category}}</p>
          <p class="name">{{dessert.name}}</p>
          <p class="price">{{dessert.price |currency:'USD':'symbol':'1.2-2'}}</p>
        </section>
      </div>
      }
    </div>
  </section>

  <section class="cart">
    <h2>Your Cart (0)</h2>
    <div class="content">
      <div class="empty-cart-content">
        <img src="images/illustration-empty-cart.svg" alt="empty cart svg">
        <p class="empty-cart-description">
          Your added items will appear here
        </p>
      </div>
    </div>
  </section>
</main>